@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

$white-color: #FFFFFF;
$light-text-color: #D0D6F9;
$dark-text-color: #0B0D17;

$font-Barlow: 'Barlow Condensed', sans-serif;
$font-Bellefair: 'Bellefair', serif;
